@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.prevent-select {
    -webkit-user-select: none;

    -ms-user-select: none;

    user-select: none;

}

*[dir="ltr"]  {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}