@tailwind base;
@tailwind components;
@tailwind utilities;

.prevent-select {
    -webkit-user-select: none;

    -ms-user-select: none;

    user-select: none;

}

*[dir="ltr"]  {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-optical-sizing: auto;
}